In [26]:
import pandas as pd

In [43]:
world_cup= pd.read_csv('world_cup.csv')
world_cup

  Team Name  points  wins  loses  draws  goal difference
0      Iran       0     0      0      0                0
1   Morocco       0     0      0      0                0
2  Portugal       0     0      0      0                0
3     spain       0     0      0      0                0

In [46]:
s1, i1 = map(int,input( "Enter the result of spain vs Iran : ").split("-"))
p1, i2 = map(int,input( "Enter the result of portugal vs Iran : ").split("-"))
m1, i3 = map(int,input( "Enter the result of Morocco vs Iran : ").split("-"))
p2, s2 = map(int,input( "Enter the result of portugal vs spain : ").split("-"))
m2, s3 = map(int,input( "Enter the result of Morocco vs spain : ").split("-"))
m3, p3 = map(int,input( "Enter the result of Morocco vs portugal : ").split("-"))

Enter the result of spain vs Iran : 1-2
Enter the result of portugal vs Iran : 2-2
Enter the result of Morocco vs Iran : 5-1
Enter the result of portugal vs spain : 3-2
Enter the result of Morocco vs spain : 1-1
Enter the result of Morocco vs portugal : 0-1

In [47]:
goal_diff_spain = ((s1+s2+s3)-(i1+p2+m2))
goal_diff_Iran =((i1+i2+i3)-(s1+p1+m1))
goal_diff_Morocco =((m1+m2+m3)-(i3+s3+p3))
goal_diff_Portugal =((p1+p2+p3)-(i2+s2+m3))

In [48]:
goal_diff_Iran

-3

In [60]:
#1 iran vs spain
if s1 == i1:
    print([1,0,0,1,0])
elif s1 > i1:
    print(3,1,0,0,(s1-i1))
    print(0,0,0,1,(i1-s1))
else:
     print(0,0,0,1,(s1-i1))
     print(3,1,0,0,(i1-s1))

0 0 0 1 -1
3 1 0 0 1

In [61]:
#2 
if p1 == i2:
    print([1,0,0,1,0])
elif p1 > i2:
    print(3,1,0,0,(p1-i2))
    print(0,0,0,1,(i2-p1))
else:
     print(0,0,0,1,(p1-i2))
     print(3,1,0,0,(i2-p1))

[1, 0, 0, 1, 0]

In [62]:
#3
if m1 == i3:
    print([1,0,0,1,0])
elif m1 > i3:
    print(3,1,0,0,(m1-i3))
    print(0,0,0,1,(i3-m1))
else:
     print(0,0,0,1,(m1-i3))
     print(3,1,0,0,(i3-m1))

3 1 0 0 4
0 0 0 1 -4

In [63]:
#4
if p2 == s2:
    print([1,0,0,1,0])
elif p2 > s2:
    print(3,1,0,0,(p2-s2))
    print(0,0,0,1,(s2-p2))
else:
     print(0,0,0,1,(p2-s2))
     print(3,1,0,0,(s2-p2))

3 1 0 0 1
0 0 0 1 -1

In [64]:
#5
if m2 == s3:
    print([1,0,0,1,0])
elif m2 > s3:
    print(3,1,0,0,(m2-s3))
    print(0,0,0,1,(s3-m2))
else:
     print(0,0,0,1,(m2-s3))
     print(3,1,0,0,(s3-m2))

[1, 0, 0, 1, 0]

In [65]:
#6
if m3 == p3:
    print([1,0,0,1,0])
elif m3 > p3:
    print(3,1,0,0,(m3-p3))
    print(0,0,0,1,(p3-m3))
else:
     print(0,0,0,1,(m3-p3))
     print(3,1,0,0,(p3-m3))

0 0 0 1 -1
3 1 0 0 1