In [3]:
import pandas as pd

In [4]:
world_cup= pd.read_csv('world_cup.csv')
world_cup

  Team Name  points  wins  loses  draws  goal difference
0      Iran       0     0      0      0                0
1   Morocco       0     0      0      0                0
2  Portugal       0     0      0      0                0
3     spain       0     0      0      0                0

In [5]:
s1, i1 = map(int,input( "Enter the result of spain vs Iran : ").split("-"))
p1, i2 = map(int,input( "Enter the result of portugal vs Iran : ").split("-"))
m1, i3 = map(int,input( "Enter the result of Morocco vs Iran : ").split("-"))
p2, s2 = map(int,input( "Enter the result of portugal vs spain : ").split("-"))
m2, s3 = map(int,input( "Enter the result of Morocco vs spain : ").split("-"))
m3, p3 = map(int,input( "Enter the result of Morocco vs portugal : ").split("-"))

Enter the result of spain vs Iran : 1-2
Enter the result of portugal vs Iran : 2-2
Enter the result of Morocco vs Iran : 5-1
Enter the result of portugal vs spain : 3-2
Enter the result of Morocco vs spain : 1-1
Enter the result of Morocco vs portugal : 0-1

In [6]:
goal_diff_spain = ((s1+s2+s3)-(i1+p2+m2))
goal_diff_Iran =((i1+i2+i3)-(s1+p1+m1))
goal_diff_Morocco =((m1+m2+m3)-(i3+s3+p3))
goal_diff_Portugal =((p1+p2+p3)-(i2+s2+m3))

In [7]:
goal_diff_Iran

-3

In [8]:
#1 iran vs spain
if s1 == i1: 
    iran1 = [1,0,0,1,0]
    spain1 = [1,0,0,1,0]
elif s1 > i1:
    spain1 = [3,1,0,0,(s1-i1)]
    iran1 = [0,0,0,1,(i1-s1)]
else:
    iran1 = [3,1,0,0,(i1-s1)]
    spain1 = [0,0,1,0,(s1-i1)]
print(type(iran1))

<class 'list'>

In [9]:
#2 

if p1 == i2:
    portugal1 = [1,0,0,1,0]
    iran2 = [1,0,0,1,0]
elif p1 > i2:
    portugal1 = [3,1,0,0,(p1-i2)]
    iran2 = [0,0,0,1,(i2-p1)]
else:
     portugal1 =[0,0,0,1,(p1-i2)]
     iran2 =[3,1,0,0,(i2-p1)]

In [10]:
#3
if m1 == i3:
    Morocco1 = [1,0,0,1,0]
    iran3 = [1,0,0,1,0]
elif m1 > i3:
    Morocco1 = [3,1,0,0,(m1-i3)]
    iran3 =[0,0,0,1,(i3-m1)]
else:
     Morocco1 = [0,0,0,1,(m1-i3)]
     iran3 = [3,1,0,0,(i3-m1)]

In [11]:
#4
if p2 == s2:
    portugal2 = [1,0,0,1,0]
    spain2 = [1,0,0,1,0]
elif p2 > s2:
    portugal2 = [3,1,0,0,(p2-s2)]
    spain2 = [0,0,0,1,(s2-p2)]
else:
     portugal2 = [0,0,0,1,(p2-s2)]
     spain2 = [3,1,0,0,(s2-p2)]

In [12]:
#5
if m2 == s3:
    Morocco2 = [1,0,0,1,0]
    spain3 = [1,0,0,1,0]
elif m2 > s3:
    Morocco2 = [3,1,0,0,(m2-s3)]
    spain3 = [0,0,0,1,(s3-m2)]
else:
     Morocco2 = [0,0,0,1,(m2-s3)]
     spain3 = [3,1,0,0,(s3-m2)]

In [13]:
#6
if m3 == p3:
    Morocco3 = [1,0,0,1,0]
    portugal3 = [1,0,0,1,0]
elif m3 > p3:
    Morocco3 = [3,1,0,0,(m3-p3)]
    portugal3 = [0,0,0,1,(p3-m3)]
else:
     Morocco3 = [0,0,0,1,(m3-p3)]
     portugal3 = [3,1,0,0,(p3-m3)]

In [42]:

portugal = [portugal1, portugal2, portugal3]
Morocco = [Morocco1, Morocco2 , Morocco3]
spain = [spain1, spain2, spain3]
iran = [iran1, iran2, iran3]
irant = ['iran'] + [sum(x) for x in zip(*iran)]
portugalt = ['portugal'] + [sum(x) for x in zip(*portugal)]
Moroccot = ['Morocco'] + [sum(x) for x in zip(*Morocco)]
spaint = ['spain'] + [sum(x) for x in zip(*spain)]
irant

['iran', 4, 1, 0, 2, -3]

In [46]:
# using iloc
world_cup.iloc[0] = irant
world_cup.iloc[1] = portugalt
world_cup.iloc[2] = Moroccot
world_cup.iloc[3] = spaint
 
# display
display(world_cup)

  Team Name  points  wins  loses  draws  goal difference
0      iran       4     1      0      2               -3
1  portugal       7     2      0      1                2
2   Morocco       4     1      0      2                3
3     spain       1     0      1      2               -2

In [58]:
 world_cup.sort_values('points', ascending=False)

  Team Name  points  wins  loses  draws  goal difference
1  portugal       7     2      0      1                2
0      iran       4     1      0      2               -3
2   Morocco       4     1      0      2                3
3     spain       1     0      1      2               -2

In [59]:
world_cup.sort_values(['points', 'goal difference', 'wins'], ascending=False ,ignore_index =True )

  Team Name  points  wins  loses  draws  goal difference
0  portugal       7     2      0      1                2
1   Morocco       4     1      0      2                3
2      iran       4     1      0      2               -3
3     spain       1     0      1      2               -2